<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blue.blueplanserviceapplicationpc.dao.UserDao">
    <resultMap id="User1" type="com.blue.blueplanserviceapplicationpc.Model.User">
        <id column="userId" jdbcType="INTEGER" property="user_id" />
        <result column="userName" jdbcType="VARCHAR" property="user_name" />
        <result column="userPassword" jdbcType="VARCHAR" property="user_password" />
        <result column="userDescribe" jdbcType="VARCHAR" property="user_describe" />
        <result column="userStatus" jdbcType="VARCHAR" property="user_status" />
        <result column="createTime" jdbcType="TIMESTAMP" property="create_time" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="update_time" />
    </resultMap>

    <select id="selectedUser" parameterType="java.lang.Integer" resultMap="User1">
        select
            *
        from blue_user
        where user_id = #{id}
    </select>
</mapper>